# Build output
dist/
.output/

# Dependencies
node_modules/

# Astro
.astro/

# Environment variables
.env
.env.local
.env.*.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.iml
*.swp
*.tmp
